/*
.swiper {
    padding: 32px;
}
*/

.swiper-slide {   
    

}

.swiper-pagination-bullet-active {
    /* background-color: white; */
    @apply bg-theme-primary-light;
    @apply dark:bg-theme-primary-dark;
}

.swiper-button-prev {
    @apply text-theme-primary-light;
    @apply dark:text-theme-primary-dark;
    padding-left: 2.5%;
}

.swiper-button-next {
    @apply text-theme-primary-light;
    @apply dark:text-theme-primary-dark;
    padding-right: 2.5%;
}

