/*
.swiper {
    padding: 32px;
}
*/

.swiper-slide {
    display: flex;
}

.swiper-pagination-bullet-active {
    background-color: white;
}

.swiper-button-prev {
    color: white ;
    padding-left: 2.5%;
}

.swiper-button-next {
    color: white;
    padding-right: 2.5%;
}

